<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.ilearncentral">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_icon"
        android:label="iLearnCentral"
        android:roundIcon="@drawable/logo_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignUpLearningCenter"></activity>
        <activity android:name=".SignUpUsers" />
        <activity android:name=".AccountTypeSelection" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>